<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Jeux BASH linux</title>
</head>
<body>
    <div class="bandeau"> <h1>Pierre Papier Ciseaux</h1> </div>

    <div class="buttons">
        <button onclick = "play('🗿')">🗿</button>
        <button onclick = "play('📄')">📄</button>
        <button onclick = "play('✂️')">✂️</button>
    </div>

    <div class="rules">
        <p>Règles du jeu :<br>
        - 🗿 bat ✂️<br>
        - ✂️ bat 📄<br>
        - 📄 bat 🗿</p>
    </div>

    <div class = "result">
        <p id="result"></p>
    </div>
    
    <div class="fight">
        <div id="fight">
            <span id="player-icon">🗿</span>
            <span id="versus">VS</span>
            <span id="computer-icon">❓</span>
        </div>
    </div>

    <script>
async function play(playerChoice) {
const response = await fetch('/play', {
    method: 'POST',
    body: playerChoice
});
const data = await response.json();


    const msg = data.result === 'tie'
        ? "It's a tie!"
        : data.result === 'win'
        ? 'You win!'
        : 'You lose!';

    document.getElementById('result').textContent =
        `You chose ${playerChoice}, computer chose ${data.computerChoice}. ${msg}`;
}

       </script>
</body>
</html>